<div class="container__footer">
  <a [routerLink]="['']" class="container__voltar"> <-- Voltar</a>
  <div class="container__footer-title">
    <app-footer-title></app-footer-title>
  </div>
  <div class="container__footer-card">
    <app-footer-card
    Id="5"
      photoCover="./assets/placeholder.png"
      cardTitle="USANDO COMPONENTES DIRETAMENTE NA PÁGINA HTML"
      cardDescription="Primeiro devemos declarar no component ts com o @Input, que é uma propriedade do Angular
      para poder chamar dentro da tag"
    ></app-footer-card>
    <app-footer-card
    Id="6"
      photoCover="./assets/placeholder.png"
      cardTitle="USANDO COMPONENTES DIRETAMENTE NA PÁGINA HTML"
      cardDescription="Primeiro devemos declarar no component ts com o @Input, que é uma propriedade do Angular
      para poder chamar dentro da tag"
    ></app-footer-card>
    <app-footer-card
    Id="7"
      photoCover="./assets/placeholder.png"
      cardTitle="USANDO COMPONENTES DIRETAMENTE NA PÁGINA HTML"
      cardDescription="Primeiro devemos declarar no component ts com o @Input, que é uma propriedade do Angular
      para poder chamar dentro da tag"
    ></app-footer-card>
  </div>

</div>


