<div class="container__footer">
  <!-- <a [routerLink]="['']" class="container__voltar"> <-- Voltar</a> -->
  <div class="container__footer-title">
    <app-footer-title></app-footer-title>
  </div>
  <div class="container__footer-card">
    <app-footer-card
    Id="5"
      photoCover="./assets/img/calopsita-1.webp"
      cardTitle="Calopsita com piolho? Veja o que fazer e como identificar"
      cardDescription="As calopsitas são pets amados, muito populares nos lares brasileiros. Não à toa, a saúde […]"

    ></app-footer-card>
    <app-footer-card
    Id="6"
      photoCover="./assets/img/coelho_03-1024x639.webp"
      cardTitle="Como saber se o coelho é macho ou fêmea?"
      cardDescription="Adotar um coelho de estimação é um momento importante para a família. Há quem prefira […]"
    ></app-footer-card>
    <app-footer-card
    Id="7"
      photoCover="./assets/img/nomes-para-cachorro-interna2.webp"
      cardTitle="Nomes para cachorro: escolha o que mais combina com seu peludo!"
      cardDescription="Acabou de chegar um novo amigo na sua casa e você ainda não sabe como chamá-lo? Então, está no lugar certo! Escolher "
    ></app-footer-card>
    <app-footer-card
    Id="8"
      photoCover="./assets/img/animais-de-aquario-domestico-capa.webp"
      cardTitle="Conheça animais de aquário doméstico para ter em casa!"
      cardDescription="Se você tem um aquário em casa e gostaria de ter mais habitantes além dos […]"
    ></app-footer-card>
  </div>

</div>


