<p>card works!</p>

<h3>ngfor </h3>
<ul>
  <li *ngFor="let p of produtos">{{p}}</li>
  <button (click)="adicionar()">Adicionar</button>
</ul>
<ul>
  <li *ngFor="let p of produtos; let i = index"
  (click)="remover(i)">
    {{i}}-{{p}}
  </li>
  <button (click)="refazerlista()">Refazer</button>
</ul>

<div [ngSwitch]="menuType">
  <button (click)="user()" > Modo Usuário</button>
  <button (click)="admin()" > Modo Admin</button>
  <button (click)="superuser()" > Modo Super Usuário</button>

  <div *ngSwitchCase="'user'">
    <ul>
      <li>editar perfil</li>
      <li>adionar cartão</li>
    </ul>

  </div>
  <div *ngSwitchCase="'admin'">
    <ul>
      <li>editar perfil</li>
      <li>adionar cartão</li>
      <li>gerenciar usuarios</li>
    </ul>
  </div>
  <div *ngSwitchCase="'superuser'">
    <ul>
      <li>editar perfil</li>
      <li>adionar cartão</li>
      <li>gerenciar usuarios</li>
      <li>gerenciar admins</li>

    </ul>
  </div>
</div>
