.container__menu-title{
  color:white;
}

.container__menu-title > h1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  font-family: 'segoe UI', sans-serif;
}

.container__menu-title > hr{
padding-top: 20px;
  padding-bottom: 5px;

}
