<div class="container__small-card">
  <div class="container__small-card-container">
    <div class="small__card-photo">
      <img src="https://www.google.com/imgres?q=angular&imgurl=https%3A%2F%2Fmiro.medium.com%2Fv2%2Fresize%3Afit%3A783%2F1*Kj8Eq401fP2ecTY8r9B89Q.png&imgrefurl=https%3A%2F%2Fmedium.com%2F%40daniel.camucatto%2Fo-que-%25C3%25A9-angular-ebc769d72a3e&docid=28DgUspX6oMaRM&tbnid=nYcSwZPCTlVT0M&vet=12ahUKEwiZjYfJyO6LAxVGppUCHQAhA4oQM3oECB0QAA..i&w=783&h=391&hcb=2&ved=2ahUKEwiZjYfJyO6LAxVGppUCHQAhA4oQM3oECB0QAA"
            alt=""
      >
    </div>
    <div class="small__card-title">
      <h1><a href="#">Primeiro projeto em Angular</a> </h1>
    </div>
  </div>
  <div class="container__small-card-separator">
    <hr/>
  </div>
</div>

