.container__small-card{

  margin-bottom: 10px;

}

.container__small-card-container{
  display: flex;
  flex-direction: row;


}

.small__card-photo > img{
  height:100px;
  width:200px;
  border-radius: 20px;
  margin-right: 10px;
}

.small__card-title{
  display: flex;
  justify-content: center;
  align-items: center;

}

.small__card-title >h1 >a{
  color: white;
  font-size: 20px;


}

.container__small-card-separator > hr{

padding-top: 10px;
}
