
<div class="container-title">
  <app-menu-title></app-menu-title>
</div>


<div class="container__articles">
  <div class="articles__main">
      <app-big-card
      Id="1"
      photoCover="./assets/img/cachorro-arranhando-o-chao-caa.webp"
      cardTitle="Comportamento canino: o que significa cachorro arranhando o chão?"
      cardDescription="Quem disse que cachorro não fala? Embora a voz seja o principal meio de comunicação […]"
      ></app-big-card>

  </div>

  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="./assets/img/caudectomia1.webp"
    cardTilte="Caudectomia e mais procedimentos proibidos em cães"
    ></app-small-card>
    <app-small-card
    Id="3"
    photoCover="./assets/img/quais-sao-os-animais-que-botam-ovo-final.webp"
    cardTilte="Quais são os animais que botam ovo?"
    ></app-small-card>
    <app-small-card
    Id="4"
    photoCover="./assets/img/nomes-para-gatos-3.webp"
    cardTilte="Nomes para gatos: ideias incríveis para se inspirar!"
    ></app-small-card>
  </div>
</div>

    <app-footer></app-footer>

