<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">
  CHAGE ngClass
</button>

<h1 [ngStyle]="{'background':corFundo, 'color':corDaFonte}">CURSO ANGULAR ngStyle</h1>

<h3>ngMoldel</h3>
<h1>Lista de compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item" />
<button (click)="adicionarLista()">Adicionar</button>
<p>{{item}}</p>

<ul>
  <li *ngFor="let elemento of lista">{{elemento}}</li>
</ul>
<hr>

<h3>ngTemplate</h3>

<ng-template [ngIf]="isEnableBlock">
  <a href="#">FINALIZAR COMPRA</a>
</ng-template>
<br>
<ng-template>
  <a href="#">ADICONAR AO CARRINHO</a>
</ng-template>
<hr>
<h3>ng content</h3>

<ng-content select="p"></ng-content>
<ng-content select="h1"></ng-content>

